<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ikea_glass">

  <!-- ROS xacro/urdf model of a standard Ikea glass.

       For convenience, the origin of the glass is at the bottom;
       we also create an (empty) link at the center of the opening.

       2018.05.17 - created

       (C) 2018 fnh, hendrich@informatik.uni-hamburg.de

       Usage:
       <xacro:include filename="$(find tiago_barkeeper_world)/urdf/materials.xacro" />
       <xacro:ikea_glass
              namespace="" name="ikea_glass_1" weight="0.2"
              rvizMaterial="white" gazeboMaterial="Gazebo/White" />
   -->


  <xacro:macro name="ikea_glass" 
               params="namespace name liquid_weight rvizMaterial gazeboMaterial" >

    <!-- glass main body, mesh used for both collision and visual -->
    <link name="${namespace}${name}">
      <inertial>
        <!-- center of mass is centered in x and y, and in z is approximated
             by one third of the glass height multiplied by amount of liquid 
             in the glass ... -->
        <mass value="${0.2+liquid_weight}" />
        <origin xyz="0 0 ${0.3*0.12*(liquid_weight/0.2)}" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision>
        <!-- standard IKEA drinking glass, 120mm, upper diam 86, bottom diam 56 -->
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find tiago_barkeeper_world)/meshes/ikea_glass_binary.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find tiago_barkeeper_world)/meshes/ikea_glass_binary.stl" scale="0.001 0.001 0.001" />
        </geometry>      
        <material name="${rvizMaterial}" >
          <!-- <color rgba="1.0 1.0 1.0 1.0"/> -->
        </material>
      </visual>
    </link>
    <gazebo reference="${namespace}${name}">
      <!-- material/texture definition for Gazebo -->
      <material>${gazeboMaterial}</material> -->
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>

    <link name="${namespace}${name}_opening" />

    <joint name="${namespace}${name}_opening_joint" type="fixed">
      <parent link="${namespace}${name}" />
      <child link="${namespace}${name}_opening" />
      <origin xyz="0 0 0.12" rpy="0 0 0" />
    </joint>

  </xacro:macro>

</robot>
