<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="bar_demo">

  <!-- URDF/Xacro file for our complete bar layout: bar counter,
       three stools, cupboard, side walls.
       Note: no bottles/glasses here, as they need to be spawned later.
  -->


  <gazebo>
    <static>true</static>
  </gazebo>

  <xacro:include filename="$(find tiago_bartender_world)/urdf/materials.xacro" />
  <xacro:include filename="$(find tiago_bartender_world)/urdf/bar_counter.xacro" />
  <xacro:include filename="$(find tiago_bartender_world)/urdf/bar_stool.xacro" />
  <xacro:include filename="$(find tiago_bartender_world)/urdf/bar_cupboard.xacro" />
  <xacro:include filename="$(find tiago_bartender_world)/urdf/bar_corner.xacro" />


  <link name="world" />
  <link name="tiago/world" />

  <xacro:bar_corner />
  <xacro:bar_counter name="counter" scale="0.00075" />
  <xacro:bar_cupboard name="cupboard" />
  <xacro:bar_stool name="stool_1" />
  <xacro:bar_stool name="stool_2" />
  <xacro:bar_stool name="stool_3" />

  <joint name="world_wall_back_joint" type="fixed">
    <parent link="world"/>
    <child link="wall_back"/>
    <origin xyz="4.12 0.0 0.0" rpy="0 0 0" />
  </joint>

  <joint name="world_wall_front_joint" type="fixed">
    <parent link="world"/>
    <child link="wall_front"/>
    <origin xyz="-3.0 0.0 0.0" rpy="0 0 0" />
  </joint>

  <joint name="world_wall_left_joint" type="fixed">
    <parent link="world"/>
    <child link="wall_left"/>
    <origin xyz="0.5 3.0 0.0" rpy="0 0 1.5708" />
  </joint>

  <joint name="world_wall_right_joint" type="fixed">
    <parent link="world"/>
    <child link="wall_right"/>
    <origin xyz="0.5 -2.88 0.0" rpy="0 0 1.5708" />
  </joint>

  <joint name="hugo" type="fixed">
    <parent link="world" />
    <child  link="tiago/world" />
  </joint>

  <joint name="bar_counter_joint" type="fixed">
    <parent link="world" />
    <child  link="counter" />
    <origin xyz="0 0 0" rpy="0 0 3.1415" />
  </joint>

  <joint name="bar_cupboard_joint" type="fixed">
    <parent link="world" />
    <child  link="cupboard" />
    <origin xyz="2.5 0 0" rpy="0 0 3.1415" />
  </joint>

  <joint name="bar_stool_1_joint" type="fixed">
    <parent link="world" />
    <child  link="stool_1" />
    <origin xyz="-1 -1 0" rpy="0 0 0" />
  </joint>

  <joint name="bar_stool_2_joint" type="fixed">
    <parent link="world" />
    <child  link="stool_2" />
    <origin xyz="-1 0 0" rpy="0 0 0" />
  </joint>

  <joint name="bar_stool_3_joint" type="fixed">
    <parent link="world" />
    <child  link="stool_3" />
    <origin xyz="-1 1 0" rpy="0 0 0" />
  </joint>

</robot>
