<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="bar_table_leg_2x2x73">

  <!-- ROS xacro/urdf model of a table leg,
       size 2x2 height 73 cm.
       size 160x80, height 75 cm.
       Origin is at (0,0,0).
      
       2018.08.20 - created

       (C) 2018 fnh, hendrich@informatik.uni-hamburg.de
   -->


  <xacro:macro name="bar_table_leg_2x2x73" params="name id *origin">
    <link name="${name}_${id}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.02 0.02 0.73" rpy="0 0 0"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <material name="black" />
        <geometry>
          <box size="0.02 0.02 0.73" rpy="0 0 0"/>
        </geometry>
      </visual>
    </link>
    <joint name="${name}_${id}_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${name}" />
      <child  link="${name}_${id}" />
    </joint>
    <gazebo reference="${name}_${id}">
      <material>Gazebo/Grey</material>
      <static>true</static>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
    </gazebo>
  </xacro:macro>
  

</robot>
