<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="bar_counter">

  <!-- ROS xacro/urdf model of a bar counter ("Tresen") with wood
       texture and some shelves on the back (robot) side.
      
       Origin is at the bottom, centered in x and y.

       2018.05.17 - created

       (C) 2018 fnh, hendrich@informatik.uni-hamburg.de

       Usage:
       <xacro:include filename="$(find tiago_bartender_world)/urdf/materials.xacro" />
       <xacro:bar_counter name="counter" />
   -->

  <xacro:macro name="scale" value="0.00075"/>

  <xacro:macro name="bar_counter" 
               params="name" >

    <!-- main body with mesh collision and visual model -->

    <link name="${name}">
      <inertial>
        <mass value="200" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find tiago_bartender_world)/meshes/bartresen.dae" scale="${scale} ${scale} ${scale}" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find tiago_bartender_world)/meshes/bartresen.dae" scale="${scale} ${scale} ${scale}" />
        </geometry>      
        <material name="maple_wood" >
          <!-- <color rgba="1.0 1.0 1.0 1.0"/> -->
        </material>
      </visual>
    </link>
    <gazebo reference="${name}">
      <!-- material/texture definition for Gazebo -->
      <!-- <material>tiago/Wood</material> --> 
      <static>true</static>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <static>true</static>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>

  </xacro:macro>

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>
