<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find tiago_bartender_world)/launch/spawn_xacro.launch">
    <arg name="xacro_file" value="$(find tiago_bartender_world)/urdf/command_card_close_gripper.xacro"/>
    <arg name="model_name" value="command_card_close_gripper"/>
    <arg name="x" value="0.11"/>
    <arg name="y" value="0.4"/>
    <arg name="z" value="1.01"/>
    <arg name="yaw" value="-1.3"/>
  </include>
</launch>
