<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- load parameters in namespace 'tiago_bartender' -->
  <include file="$(find tiago_bartender_bringup)/launch/config_bringup.launch"/>

  <!-- override factory robot description to include world link and wide gripper -->
  <include file="$(find tiago_description)/robots/upload_tiago.launch"/>

  <!-- provide a FollowJointTrajectory action for the gripper -->
  <include file="$(find tiago_bartender_mtc)/launch/gripper_controller.launch" />

  <!-- replace PAL's moveit configuration -->
  <include file="$(find tiago_moveit_config)/launch/move_group.launch"/>
  <!-- create a "world" link for MoveIt that coincides with amcl's map -->
  <include file="$(find tiago_bartender_bringup)/launch/world_link.launch"/>

  <!-- MTC action servers for manipulation -->
  <include file="$(find tiago_bartender_mtc)/launch/manipulation_server.launch"/>

  <!-- bartender-specific head control -->
  <include file="$(find tiago_bartender_behavior)/launch/look_at.launch"/>

  <!-- move in front of target objects in the planning scene -->
  <include file="$(find tiago_bartender_navigation)/launch/move_to_target.launch"/>

  <!-- Person detection -->
  <include file="$(find person_detection)/launch/person_detection.launch"/>

  <!-- usb camera for menu card detection  -->
  <include file="$(find tiago_bartender_bringup)/launch/usb_camera.launch"/>

  <!-- Menu detection and action to detect indicated orders  -->
  <include file="$(find tiago_bartender_menu)/launch/menu.launch"/>

  <!-- Tabletop object recognition -->
  <include file="$(find tams_bartender_recognition)/launch/bringup.launch"/>

  <!-- Recognize transparent glasses in the camera's IR image -->
  <include file="$(find tams_bartender_glass_recognition)/launch/glass_recognition.launch"/>

  <!-- visual operator control through apriltags -->
  <include file="$(find apriltag_command_cards)/launch/apriltag_command_cards.launch"/>

</launch>
