<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="use_sim_time" value="true" />
  <include file="$(find tiago_bartender_world)/launch/bar_demo.launch"/>
  <include file="$(find tiago_bartender_bringup)/launch/tiago_gazebo_bringup.launch">
    <arg name="gzpose" value="-x 1.7 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  </include>
  <include file="$(find tiago_bartender_bringup)/launch/tiago_bar_navigation_bringup.launch"/>
  <node name="tiago_bottle_pick_server" pkg="tiago_bartender_mtc" type="tiago_bottle_pick_server"/>
  <node name="simple_idle_node" pkg="tiago_bartender_behavior" type="simple_idle_node"/>
  <node name="menu_order_node" pkg="tiago_bartender_behavior" type="menu_order_node"/>
  <node name="play_file_node" pkg="tiago_bartender_speech" type="play_file_node"/>
  <node name="look_at_node" pkg="tiago_bartender_behavior" type="look_at_node"/>
  <include file="$(find sound_play)/soundplay_node.launch"/>
  <include file="$(find tiago_bartender_world)/launch/spawn_woman_ordering.launch"/>
  <include file="$(find tiago_bartender_menu)/launch/menu.launch"/>
</launch>
